<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Spring Boot Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
       <div class="col-md-6">
           <div class="row">
               <h2 style="padding-top:20px">Please enter your name and pick the Sectors you are currently involved in.</h2>
               <form th:action="@{/add}" th:object="${userFormDto}" method="post" class="form">
                   <input type="hidden" th:field="*{id}">
                   <div class="form-group" th:fragment="userFormDto">
                       <label for="name">Name</label>
                       <input th:readonly="${action=='view'}" class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                       <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                   </div>
                   <div class="form-group">
                       <label for="sectorIdList">Sectors</label>
                       <select th:readonly="${action=='view'}" class="form-control" th:field="*{sectorIdList}" id="sectorIdList"
                               multiple="multiple">
                           <option th:each="sector: ${userFormDto.sectors}"  th:utext="${sector.name}"
                                   th:selected="${userFormDto.sectorIdList}"
                                   th:value="${sector.id}">1
                           </option>
                       </select>


                       <div class="alert alert-warning" th:if="${#fields.hasErrors('sectorIdList')}" th:errors="*{sectorIdList}"></div>
                   </div>

                   <div style="padding:10px 0" class="form-group">
                       <label for="agreeToTerm">Agree To Term</label>
                       <input th:readonly="${action=='view'}" type="checkbox" id="agreeToTerm" name="agreeToTerm" th:checked="${userFormDto.agreeToTerm}" />
                       <div class="alert alert-warning" th:if="${#fields.hasErrors('agreeToTerm')}" th:errors="*{agreeToTerm}"></div>
                   </div>
                   <input type="submit" th:disabled="${action=='view'}"  class="btn btn-success" value="Save">
                   <input style="padding-left:20px" onclick="goBack()" type="button" class="btn btn-primary" value="Back">
               </form>
           </div>
       </div>
    </div>
 <script>
    function goBack() {
      window.history.back();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>